body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#game-container {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
